<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8">
            <!-- If IE use the latest rendering engine -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!-- Set the page to the width of the device and set the zoom level -->
            <meta name="viewport" content="width = device-width, initial-scale = 1">

            <title>Cybitrage</title>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="styles/style.css">
      </head>
      <body>
            <div class="container">
                  <div class="page-header"><h1 class="title-name">Cybitrage</h1></div>
            </div>
      </body>
</html>
