<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8">
            <!-- If IE use the latest rendering engine -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!-- Set the page to the width of the device and set the zoom level -->
            <meta name="viewport" content="width = device-width, initial-scale = 1">

            <title>Cybitrage</title>
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="styles/style.css">
      </head>
      <body>
            <div class="container">
                  <div class="page-header"><h1 class="title-name">Cybitrage</h1></div>
            </div>
            <div class="container">
                  <p id="description">
                        A currency arbitrage detector using real-time stock market data from 1forge.com. Applying the
                        Bellman-Ford algorithm to detect negative weight cycles on graphs, arbitrage opportunites are
                        identified and displayed.
                  </p>
                  <p id="description">
                        Using the "INSERT METHOD" below, choose which currencies to use and Cybitrage will identify
                        if any arbitrage opportunities exist between them.
                  </p>
            </div>
      </body>
</html>
